:root {
    --bg-color: rgb(224, 224, 224);

    --bg-color-nav-menu: rgb(35, 35, 35);
    --bg-color-nav-menu-hover: rgb(40, 40, 40);
    --bg-color-nav-menu-focus: rgb(50, 50, 50);
    --bg-color-nav-menu-current-page: rgb(50, 50, 50);
    --color-nav-menu: white;

    --main-bg-color: rgb(245, 245, 245);

    --textarea-bg-color: rgb(225, 225, 225);
    --textarea-bg-color-focus: rgb(215, 215, 215);
    
    --execute-button-bg-color: rgb(0, 60, 0);
    --execute-button-bg-color-active: rgb(0, 40, 0);
    --bg-color-select-head: rgb(35, 35, 35);
    --bg-color-option-menu: rgb(50, 50, 50);
    --bg-color-option-menu-hover: rgb(60, 60, 60);
    --color-option-menu: rgb(255, 255, 255);
    
    --bg-color-footer: rgb(35, 35, 35);
    --color-footer: white;


    --navbar-height: 60px;
    --content-max-width: 1000px;
    --default-button-height: 50px;
    --select-head-height: var(--default-button-height);
    --select-buttons-height: 42px;

    --default-normal-font-size: 16px;
    --default-button-font-size: 14px;
}

body, html {
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-size: var(--default-normal-font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    outline: none;
    border-width: 0;
    font-size: var(--default-normal-font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



div#container {
    max-width: var(--content-max-width);
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: stretch; 
}

div#navbar {
    height: var(--navbar-height);
}

div#navbar nav {
    display: flex;
    justify-content: space-around;
    height: var(--navbar-height);
    box-sizing: border-box;
    background-color: var(--bg-color-nav-menu);
    cursor: default;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

div#navbar nav div.central-navbar {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    max-width: var(--content-max-width);
}

div#navbar nav div.central-navbar div.page-buttons {
    display: flex;
    justify-content: start;
}

div#navbar nav button.menu-button {
    font-size: 24px;
    display: none;
}

div#navbar nav button {
    height: 100%;
    padding: 0 20px;
    background-color: transparent;
    color: var(--color-nav-menu);
    cursor: pointer;
}

div#navbar nav button.languages-button {
    background-image: url('../images/Globe_icon-white.svg');
    background-size: 28px !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
}

div#navbar nav button:hover {
    background-color: var(--bg-color-nav-menu-hover);
}

div#navbar nav button.current-page {
    background-color: var(--bg-color-nav-menu-current-page);
}



div.container-converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

    max-height: 500px;
    height: 100%;
}

div.field-block {
    
}

div.full-field-block {
    grid-column: 1/3;
}

div#container-content {
    width: 100%;
    margin: 0 auto;
}

main#main {
    padding: 20px;
    background-color: var(--main-bg-color);
    height: 100%;
    box-sizing: border-box;    
}

main#main section {
    height: 100%;
    box-sizing: border-box;
    display: none;
}

main#main section.show {
    display: block
}

footer {
    background-color: var(--bg-color-footer);
    color: var(--color-footer);
    padding: 30px 20px;
    text-align: center;
}



div#options-converter.custom-select-container {
    width: 100%;
    position: relative;
}

div.custom-select-container select {
    display: none;
}

button.select-head {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    height: var(--select-head-height);

    cursor: pointer;
    background-color: var(--bg-color-select-head);
    color: white;
    text-align: center;
}

span.select-head-text {
    
}

span.select-head-icon {
    position: absolute;
    right: 10px;
}

span.select-head-icon::after {
    content: '\25BC';
}

div.custom-select-container div.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

div.custom-select-container div.select-options button.select-option {
    height: var(--select-buttons-height);
}

div.custom-select-container div.select-options.show {
    display: block;
}

button.select-option {
    display: block;
    width: 100%;

    border-width: 0;
    cursor: pointer;
    padding: 10px;

    background-color: var(--bg-color-option-menu);
    color: var(--color-option-menu)
}

button.select-option:hover {
    background-color: var(--bg-color-option-menu-hover)
}

textarea.converter-textarea {
    width: 100%;
    min-height: 200px;
    height: 100%;
    resize: none;
    border-width: 0;
    background-color: var(--textarea-bg-color);
    padding: 10px;
    box-sizing: border-box;
}

textarea.converter-textarea:focus {
    outline: none;
    background-color: var(--textarea-bg-color-focus);
}

button#execute-converter {
    background-color: var(--execute-button-bg-color);
    color: white;
    
    width: 100%;
    border-width: 0;
    border-radius: 0 0 7px 7px;
    padding: 15px;
    height: var(--default-button-height);
    
    
    cursor: pointer;
}

button#execute-converter:active {
    background-color: var(--execute-button-bg-color-active);
}



@media only screen and (max-width: 700px) {
    div.field-block {
        grid-column: 1/3;
    }

    div.execute-converter-block {
        grid-row: 3;
    }

    button#execute-converter {
        border-radius: 0 0 0 0;
    }

    div#navbar nav {
        justify-content: end;
        position: relative;
        overflow: visible;
    }
    div#navbar nav div.central-navbar {
        display: none;
    }
    div#navbar nav div.central-navbar.mobile-show {
        display: block;
        position: absolute;
        background-color: var(--bg-color-nav-menu);
        z-index: 2;
        top: 100%;
        left: 0;
        right: 0;
        height: 100vh;
    }
    div#navbar nav div.central-navbar button{
        display: block;
        width: 100%;
        height: 48px;
    }
    div#navbar nav div.central-navbar div.page-buttons {
        display: block;
    }
    div#navbar nav button.menu-button {
        font-size: 24px;
        display: inline-block;
    }
    div#navbar nav button.menu-button::before {
        content: '\2630';
    }
    div#navbar nav button.menu-button.mobile-show::before {
        content: '\2715';
    }

    div.container-converter {
        max-height: none;
        grid-template-rows: auto 1fr auto 1fr;
    }
}