:root {
    --bg-color: rgb(224, 224, 224);
    --main-bg-color: rgb(245, 245, 245);
    --textarea-bg-color: rgb(225, 225, 225);
    --textarea-bg-color-focus: rgb(215, 215, 215);
    --execute-button-bg-color: rgb(0, 60, 0);
    --execute-button-bg-color-active: rgb(0, 40, 0);
    --bg-color-option-menu: rgb(50, 50, 50);
    --bg-color-option-menu-hover: rgb(60, 60, 60);
    --bg-color-option-menu-click: rgb(65, 65, 65);
    --color-option-menu: rgb(255, 255, 255);
    --bg-color-footer: rgb(60, 60, 60);
    --color-footer: white;
}

body, html {
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    outline: none;
    border-width: 0;
}



div#container {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: stretch; 
}

nav#navbar {
    display: none;
}

nav#navbar ul {
    list-style-type: none;
    padding-left: 0
}

nav#navbar ul li {
    display: inline-block;
}

div.container-converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
}

div.field-block {
    
}

div.full-field-block {
    grid-column: 1/3;
}

div#container-content {
    width: 100%;
    margin: 0 auto;
}

main#main {
    padding: 20px;
    background-color: var(--main-bg-color);
    height: 100%;
    
}

main#main section {
    height: 100%;
    box-sizing: border-box;
}

main#main section#converter {
    display: none;
}

main#main section#converter.show {
    display: block
}

main#main section#about {
    display: none;
}

main#main section#about.show {
    display: block
}

footer {
    background-color: var(--bg-color-footer);
    color: var(--color-footer);
    padding: 30px 20px;
    text-align: center;
}



div#options-converter.custom-select-container {
    width: 100%;
    position: relative;
}

div.custom-select-container select {
    display: none;
}

button.select-head {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    cursor: pointer;
    background-color: black;
    color: white;
    text-align: center;
}

span.select-head-text {
    
}

span.select-head-icon {
    position: absolute;
    right: 10px;
}

span.select-head-icon::after {
    content: '\25BC';
}

div.custom-select-container div.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

div.custom-select-container div.select-options.show {
    display: block;
}

button.select-option {
    display: block;
    width: 100%;

    border-width: 0;
    cursor: pointer;
    padding: 10px;

    background-color: var(--bg-color-option-menu);
    color: var(--color-option-menu)
}

button.select-option:hover {
    background-color: var(--bg-color-option-menu-hover)
}

button.select-option:active {
    background-color: var(--bg-color-option-menu-click)
}

textarea.converter-textarea {
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    height: 100%;
    resize: none;
    border-width: 0;
    background-color: var(--textarea-bg-color);
    padding: 10px;
    box-sizing: border-box;
}

textarea.converter-textarea:focus {
    outline: none;
    background-color: var(--textarea-bg-color-focus);
}

button#execute-converter {
    background-color: var(--execute-button-bg-color);
    color: white;
    
    width: 100%;
    border-width: 0;
    border-radius: 0 0 7px 7px;
    padding: 15px;
    
    font-weight: bold;
    cursor: pointer;
}

button#execute-converter:active {
    background-color: var(--execute-button-bg-color-active);
}



@media only screen and (max-width: 700px) {
    div.field-block {
        grid-column: 1/3;
    }

    div.execute-converter-block {
        grid-row: 3;
    }

    button#execute-converter {
        border-radius: 0 0 0 0;
    }
}