:root {
    --bg-color: rgb(224, 224, 224);
    --main-bg-color: rgb(245, 245, 245);
    --textarea-bg-color: rgb(225, 225, 225);
    --textarea-bg-color-focus: rgb(215, 215, 215);
    --execute-button-bg-color: rgb(0, 60, 0);
    --execute-button-bg-color-active: rgb(0, 40, 0);
    --bg-color-option-menu: rgb(50, 50, 50);
    --bg-color-option-menu-hover: rgb(60, 60, 60);
    --bg-color-option-menu-click: rgb(65, 65, 65);
    --color-option-menu: rgb(255, 255, 255);
    --bg-color-footer: rgb(60, 60, 60);
    --color-footer: white;
}

body, html {
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    outline: none;
}



div#container {
    max-width: 1000px;
    margin: 0 auto;
}

nav#navbar {
    display: none;
}

nav#navbar ul {
    list-style-type: none;
    padding-left: 0
}

nav#navbar ul li {
    display: inline-block;
}

div.container-converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div.field-block {
    
}

div.full-field-block {
    grid-column: 1/3;
}

div#container-content {
    width: 100%;
    margin: 0 auto;
}

main#main {
    padding: 20px;
    background-color: var(--main-bg-color);
}

section#converter {
    display: none;
}

section#converter.show {
    display: block
}

section#about {
    display: none;
}

section#about.show {
    display: block
}

footer {
    background-color: var(--bg-color-footer);
    color: var(--color-footer);
    padding: 30px 20px;
    text-align: center;
}



div#options-converter {
    width: 100%;
}

div#options-converter select {
    display: none;
}

div.select-head {
    background-color: black;
    width: 100%;
}

div.select-head::after {
    color: white;
    content: '\25BC';
}

button.select-option {
    display: block;
    width: 100%;

    border-width: 0;
    cursor: pointer;
    padding: 10px;

    background-color: var(--bg-color-option-menu);
    color: var(--color-option-menu)
}

button.select-option:hover {
    background-color: var(--bg-color-option-menu-hover)
}

button.select-option:active {
    background-color: var(--bg-color-option-menu-click)
}

textarea.converter-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-width: 0;
    background-color: var(--textarea-bg-color);
    padding: 10px;
    box-sizing: border-box;
}

textarea.converter-textarea:focus {
    outline: none;
    background-color: var(--textarea-bg-color-focus);
}

button#execute-converter {
    background-color: var(--execute-button-bg-color);
    color: white;
    
    width: 100%;
    border-width: 0;
    border-radius: 0 0 7px 7px;
    padding: 15px;
    
    font-weight: bold;
    cursor: pointer;
}

button#execute-converter:active {
    background-color: var(--execute-button-bg-color-active);
}