RewriteEngine On

RewriteCond $1 (php|html)
RewriteRule ^(.*)$ / [R=301,NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(css|images|js)
RewriteRule ^(.+)$ index.php?url=$1 [L]